<?xml version="1.0" encoding="UTF-8"?>

<Template xmlns="http://morfeo-project.org/2007/Template">
  <Catalog.ResourceDescription>
    <Vendor>AIT</Vendor>
    <Name>ooi-viewer</Name>
    <Version>0.4.0</Version>
    <Author>Manuel Warum</Author>
    <Mail>Manuel.Warum.fl@ait.ac.at</Mail>
    <Description>Details viewer for Objects of Interest</Description>
    <ImageURI>img/catalogue.png</ImageURI>
    <iPhoneImageURI>img/catalogue.png</iPhoneImageURI>
    <WikiURI>http://127.0.0.1/index.htm</WikiURI>
  </Catalog.ResourceDescription>

  <Platform.Preferences>
    <Preference name="ooi-wsr-uri" type="text" description="URL of the OOI-WSR API" label="API URI"/>
  </Platform.Preferences>

  <Platform.Wiring>
    <InputEndpoint name="worldstate" type="text" label="Worldstate" description="" friendcode="wsid"/>
    <InputEndpoint name="entity" type="text" label="Entity" description="" friendcode="entityid"/>
    <OutputEndpoint name="locate-lonlat" type="text" label="Locate (lon-lat)"
                    description="Request to focus on specific coordinates" friendcode="geo-lon-lat"/>
  </Platform.Wiring>

  <Platform.Link>
    <XHTML href="index.html"/>
  </Platform.Link>

  <Platform.Rendering width="6" height="12"/>
</Template>