<?xml version="1.0" encoding="UTF-8"?>

<Template xmlns="http://morfeo-project.org/2007/Template">
  <Catalog.ResourceDescription>
    <Vendor>AIT</Vendor>
    <Name>ooi-viewer</Name>
    <Version>0.2.0</Version>
    <Author>Manuel Warum</Author>
    <Mail>Manuel.Warum.fl@ait.ac.at</Mail>
    <Description>Details viewer for Objects of Interest</Description>
    <ImageURI>img/catalogue.png</ImageURI>
    <iPhoneImageURI>img/catalogue.png</iPhoneImageURI>
    <WikiURI>http://127.0.0.1/index.htm</WikiURI>
  </Catalog.ResourceDescription>

  <Platform.Wiring>
    <InputEndpoint name="ooi" type="text" label="Object" description="The Object of Interest to view"
                   friendcode="ooi-identifier"/>
    <InputEndpoint name="row" type="text" label="Row" description="The complex object to view" friendcode="row"/>
    <OutputEndpoint name="locate-lonlat" type="text" label="Locate (lon-lat)"
                    description="Request to focus on specific coordinates" friendcode="geo-lon-lat"/>
    <OutputEndpoint name="locate-ooi" type="text" label="Locate (OOI)" description="Request to focus on a specific OOI"
                    friendcode="ooi-identifier"/>
  </Platform.Wiring>

  <Platform.Link>
    <XHTML href="index.html"/>
  </Platform.Link>

  <Platform.Rendering width="6" height="12"/>
</Template>