<?xml version="1.0" encoding="UTF-8"?>

<Template xmlns="http://morfeo-project.org/2007/Template">
  <Catalog.ResourceDescription>
    <Vendor>AIT</Vendor>
    <Name>ooi-viewer</Name>
    <DisplayName>OOI Viewer</DisplayName>
    <Version>0.5.0.1</Version>
    <Author>Manuel Warum</Author>
    <Mail>Manuel.Warum.fl@ait.ac.at</Mail>
    <Description>Details viewer for Objects of Interests</Description>
    <ImageURI>img/catalogue.png</ImageURI>
    <iPhoneImageURI>img/catalogue.png</iPhoneImageURI>
    <WikiURI>http://127.0.0.1/index.htm</WikiURI>
  </Catalog.ResourceDescription>

  <Platform.Wiring>
    <InputEndpoint name="oois" type="text" label="OOIs" description="" friendcode="oois"/>
    <InputEndpoint name="types" type="text" label="OOI types" description="OOI type definitions" friendcode="ooi-types"/>
  </Platform.Wiring>

  <Platform.Link>
    <XHTML href="index.html"/>
  </Platform.Link>

  <Platform.Rendering width="6" height="12"/>
</Template>