<?xml version="1.0" encoding="UTF-8"?>
<Template xmlns="http://morfeo-project.org/2007/Template">
  <Catalog.ResourceDescription>
    <Vendor>AIT</Vendor>
    <Name>worldstate-saver</Name>
    <DisplayName>Worldstate Saver</DisplayName>
    <Version>0.1.2.0</Version>
    <Author>Manuel Warum</Author>
    <Mail>Manuel.Warum.fl@ait.ac.at</Mail>
    <Description>This widget saves generated world states to the OOI worldstate repository (OOI-WSR).</Description>
    <ImageURI>img/catalogue.png</ImageURI>
    <iPhoneImageURI>img/catalogue.png</iPhoneImageURI>
    <WikiURI>http://127.0.0.1/index.htm</WikiURI>
  </Catalog.ResourceDescription>

  <Platform.Preferences>
    <Preference name="api" type="text" description="URI to the OOI-WSR API" label="OOI-WSR API URI" default="http://localhost/api"/>
  </Platform.Preferences>

  <Platform.Wiring>
    <InputEndpoint name="oois" type="text" label="OOIs" description="All objects of interest" friendcode="oois"/>
    <InputEndpoint name="command" type="text" label="Command" description="Commands" friendcode="command"/>
    <InputEndpoint name="worldstate" type="text" label="WorldState" description="Original WorldState that forms the parent of the one to be saved" friendcode="worldstate"/>
    <OutputEndpoint name="created_worldstate" type="text" label="Created WorldState" description="Created WorldStates that were saved" friendcode="worldstate"/>
  </Platform.Wiring>

  <Platform.Link>
    <XHTML href="index.html" cacheable="false"/>
  </Platform.Link>

  <Platform.Rendering width="6" height="12"/>
</Template>