button[disabled].btn-command-active {
    opacity: 1;
    border-color: #000;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .5);
}

div.help {
    display: none;
    font-weight: bold;
    background: url("../img/action-needed.png") no-repeat 2pt 2pt;
    padding-left: 28px;
    margin: 1ex 2ex 0;
    min-height: 32px;
    -webkit-box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, .25);
    box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, .25);
    border-radius: 3pt;
    border: 1pt solid #cccccc;
}

#container > fieldset {
    border-top: 1pt solid #ccc;
    padding-top: 1ex;
    margin-top: 1ex;
    padding-left: 2pt;
}

#container > fieldset:first-child {
    border-top: 0 none;
    padding-top: 0;
    margin-top: 0;
}

/* true for all button icons: */
.ico-cmd-treat {
    display: inline-block;
    vertical-align: -1pt;
    width: 12px;
    height: 12px;
    margin: 0 2pt 0 0;
}

/* individual settings and overrides: */
.ico-cmd-treat { background: url("../img/ico-cmd-treat.png") no-repeat; }