.restrict-height {
    max-height: 240px;
    overflow-y: auto;
}

.ico-cmd {
    width: 12px;
}
.ico-help {
    color: #999999;
    margin-left: 22px;
    margin-top: 4px;
    margin-bottom: 6px;
    font-size: 90%;
    hyphens: auto;
}

/* command icons */
.ico-cmd-goto {
    padding-left: 22px;
    background: url("../img/ico-cmd-goto.png") no-repeat 2px center;
}
.ico-cmd-treat {
    padding-left: 22px;
    background: url("../img/ico-cmd-treat.png") no-repeat 2px center;
}
.ico-cmd-pickup {
    padding-left: 22px;
    background: url("../img/ico-cmd-pickup.png") no-repeat 2px center;
}
.ico-cmd-build {
    padding-left: 22px;
    background: url("../img/ico-cmd-build.png") no-repeat 2px center;
}

.btn-waiting {
    border-color: rgb(250, 198, 135);
    -webkit-box-shadow: 0 0 7px 0 rgba(250, 198, 135, 0.5);
    -moz-box-shadow:    0 0 7px 0 rgba(250, 198, 135, 0.5);
    box-shadow:         0 0 7px 0 rgba(250, 198, 135, 0.5);
}


/* VALIDATION STYLES */
input.ng-invalid.ng-dirty,
select.ng-invalid.ng-dirty {
    border-color: rgb(250, 144, 125);
    -webkit-box-shadow: 0 0 7px 0 rgba(250, 144, 125, 0.5);
    -moz-box-shadow:    0 0 7px 0 rgba(250, 144, 125, 0.5);
    box-shadow:         0 0 7px 0 rgba(250, 144, 125, 0.5);
}

input.ng-valid.ng-dirty,
select.ng-valid.ng-dirty {
    border-color: rgb(126, 228, 113);
    -webkit-box-shadow: 0 0 7px 0 rgba(126, 228, 113, 0.5);
    -moz-box-shadow:    0 0 7px 0 rgba(126, 228, 113, 0.5);
    box-shadow:         0 0 7px 0 rgba(126, 228, 113, 0.5);
}