.btn-cmd {
    background-position: 4px center;
    background-repeat: no-repeat;
}

.restrict-height {
    max-height: 240px;
    overflow-y: auto;
}

/* individual settings and overrides: */
.ico-cmd-treat { background-image: url("../img/ico-cmd-treat.png"); padding-left: 20px }
.ico-cmd-goto { background-image: url("../img/ico-cmd-goto.png"); padding-left: 20px }