<?xml version="1.0" encoding="UTF-8"?>

<Template xmlns="http://wirecloud.conwet.fi.upm.es/ns/template#">
    <Catalog.ResourceDescription>
        <Vendor>AIT</Vendor>
        <Name>worldstate_info</Name>
        <DisplayName>World State Info</DisplayName>
        <Version>0.8.2.0</Version>
        <Author>Manuel Warum</Author>
        <Mail>Manuel.Warum.fl@ait.ac.at</Mail>
        <Description>
            Gives a quick one-liner summary about the world state.
        </Description>
        <ImageURI>img/catalogue.png</ImageURI>
        <iPhoneImageURI>img/catalogue.png</iPhoneImageURI>
        <WikiURI>http://127.0.0.1/index.htm</WikiURI>
    </Catalog.ResourceDescription>

    <Platform.Preferences>
        <Preference name="readonly" type="boolean" label="Read-only"/>
    </Platform.Preferences>

    <Platform.Wiring>
        <InputEndpoint name="simulation" type="text" label="Simulation" friendcode="simulation"/>
        <InputEndpoint name="worldstate" type="text" label="World State" friendcode="worldstate"/>

        <OutputEndpoint name="select_worldstate" type="text" label="Go to World State" friendcode="worldstate"/>
        <OutputEndpoint name="signal" type="text" label="Signal" friendcode="signal"/>
    </Platform.Wiring>

    <Platform.Link>
        <XHTML href="index.html"/>
    </Platform.Link>

    <Platform.Rendering width="6" height="12"/>
</Template>