<!DOCTYPE html>
<html lang="en" ng-app="worldStateInfoApp">
<head>
    <title>World State Info</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
</head>
<body ng-controller="WorldStateInfoApp">

<div class="container-fluid" ng-show="activeSimulation">
    <div class="row-fluid">
        <div class="col-sm-3">
            <strong>Simulation:</strong>
            {{activeSimulation.description}} <span class="text-muted">({{activeSimulation.simulationId}})</span>
        </div>

        <div class="col-sm-9">
            <div class="input-group">
                <select class="form-control" ng-options="prettyWorldStateName(ws) for ws in allWorldStates" ng-model="activeWorldState" ng-required ng-disabled="readonly"></select>
                <span class="input-group-btn" ng-hide="readonly">
                    <button type="button" class="btn btn-primary" title="Go to selected world state" ng-click="goToWorldState()">
                        <span class="glyphicon glyphicon-import"></span>
                    </button>
                    <button type="button" class="btn btn-default" title="Refresh" ng-click="sendSignal('refresh')">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    </span>
            </div>
        </div>
    </div>
</div>

</body>
</html>