<?xml version="1.0" encoding="UTF-8"?>

<Template xmlns="http://morfeo-project.org/2007/Template">
  <Catalog.ResourceDescription>
    <Vendor>AIT</Vendor>
    <Name>ooi-table</Name>
    <DisplayName>OOI Table</DisplayName>
    <Version>0.5.3.2</Version>
    <Author>Manuel Warum</Author>
    <Mail>Manuel.Warum.fl@ait.ac.at</Mail>
    <Description>Table view for Objects of Interest</Description>
    <ImageURI>img/catalogue.png</ImageURI>
    <iPhoneImageURI>img/catalogue.png</iPhoneImageURI>
    <WikiURI>http://127.0.0.1/index.htm</WikiURI>
  </Catalog.ResourceDescription>

  <Platform.Preferences>
    <Preference name="only_show" type="text"
                description="A comma-separated list of entity type IDs. If set, only OOIs with that entityTypeId will be shown"
                label="Only show types" default=""/>
    <Preference name="enable_group_storage" type="boolean"
                description="If true, grouping information will be persisted locally"
                label="Enable localStorage" default="true"/>
  </Platform.Preferences>

  <Platform.Wiring>
    <InputEndpoint name="oois_in" type="text" label="OOIs" description="All objects of interest" friendcode="oois"/>
    <InputEndpoint name="oois_selected_in" type="text" label="Selected OOIs" description="Selected objects of interest" friendcode="oois"/>
    <InputEndpoint name="types" type="text" label="OOI Types" description="OOI type definitions" friendcode="ooi-types"/>
    <OutputEndpoint name="oois_selected_out" type="text" label="Selected OOIs" description="Selected objects of interest" friendcode="oois"/>
  </Platform.Wiring>

  <Platform.Link>
    <XHTML href="index.html" cacheable="false"/>
  </Platform.Link>

  <Platform.Rendering width="6" height="18"/>
</Template>