<?xml version="1.0" encoding="UTF-8"?>

<Template xmlns="http://morfeo-project.org/2007/Template">
  <Catalog.ResourceDescription>
    <Vendor>AIT</Vendor>
    <Name>ooi-table</Name>
    <Version>0.4.0</Version>
    <DisplayName>OOI Table</DisplayName>
    <Author>Manuel Warum</Author>
    <Mail>Manuel.Warum.fl@ait.ac.at</Mail>
    <Description>Table view for Objects of Interest</Description>
    <ImageURI>img/catalogue.png</ImageURI>
    <iPhoneImageURI>img/catalogue.png</iPhoneImageURI>
    <WikiURI>http://127.0.0.1/index.htm</WikiURI>
  </Catalog.ResourceDescription>

  <Platform.Preferences>
    <Preference name="ooi-wsr-uri" type="text" description="URL of the OOI-WSR API" label="API URI"/>
  </Platform.Preferences>

  <Platform.Wiring>
    <InputEndpoint name="worldstate" type="text" label="Worldstate ID"
                   description="Loads a worldstate" friendcode="wsid" />

    <OutputEndpoint name="row" type="text" label="Row" description="The selected object" friendcode="row"/>
    <OutputEndpoint name="entity" type="text" label="Entity" description="The selected object ID" friendcode="entityid"/>
  </Platform.Wiring>

  <Platform.Link>
    <XHTML href="index.html"/>
  </Platform.Link>

  <Platform.Rendering width="6" height="12"/>
</Template>