<?xml version="1.0" encoding="UTF-8"?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:usdl-core="http://www.linked-usdl.org/ns/usdl-core#"
         xmlns:foaf="http://xmlns.com/foaf/0.1/"
         xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
         xmlns:dcterms="http://purl.org/dc/terms/"
         xmlns:wire="http://wirecloud.conwet.fi.upm.es/ns/widget#"
         xmlns:vCard="http://www.w3.org/2006/vcard/ns#"
         xmlns:gr="http://purl.org/goodrelations/v1#">

    <wire:Operator rdf:about="http://wirecloud.com/test">
        <dcterms:title>pubsub_receiver</dcterms:title>
        <wire:displayName>PubSub receiver</wire:displayName>
        <dcterms:description>This operator receives signals from a PubSub publisher.</dcterms:description>
        <dcterms:creator rdf:resource="http://creatoruri/"/>
        <usdl-core:versionInfo>0.1.0.6</usdl-core:versionInfo>
        <wire:hasImageUri rdf:resource="img/catalogue.png"/>
        <usdl-core:utilizedResource rdf:resource="js/main.js"/>
        <foaf:page rdf:resource="http://conwet.fi.upm.es/docs/display/wirecloud"/>
        <usdl-core:hasProvider rdf:resource="http://vendoruri/"/>

        <vCard:addr>
            <vCard:Work>
                <vCard:email>manuel.warum.fl@ait.ac.at</vCard:email>
            </vCard:Work>
        </vCard:addr>

        <wire:hasRequirement>
            <wire:Feature>
                <rdfs:label>NGSI</rdfs:label>
            </wire:Feature>
        </wire:hasRequirement>

        <wire:hasPlatformPreference>
            <wire:PlatformPreference rdf:ID="preference_1">
                <wire:index>1</wire:index>
                <dcterms:title>ngsi_uri</dcterms:title>
                <wire:type>text</wire:type>
                <dcterms:description>URL of the NGSI endpoint</dcterms:description>
                <rdfs:label>NGSI URI</rdfs:label>
                <wire:default></wire:default>
            </wire:PlatformPreference>
        </wire:hasPlatformPreference>

        <wire:hasPlatformPreference>
            <wire:PlatformPreference rdf:ID="preference_2">
                <wire:index>2</wire:index>
                <dcterms:title>ngsi_proxy_uri</dcterms:title>
                <wire:type>text</wire:type>
                <dcterms:description>URL of the NGSI proxy</dcterms:description>
                <rdfs:label>NGSI Proxy</rdfs:label>
                <wire:default></wire:default>
            </wire:PlatformPreference>
        </wire:hasPlatformPreference>

        <wire:hasPlatformPreference>
            <wire:PlatformPreference rdf:ID="preference_3">
                <wire:index>3</wire:index>
                <dcterms:title>entity_scope</dcterms:title>
                <wire:type>text</wire:type>
                <dcterms:description>Entity type</dcterms:description>
                <rdfs:label>Entity type</rdfs:label>
                <wire:default>CRISMA.worldstates</wire:default>
            </wire:PlatformPreference>
        </wire:hasPlatformPreference>

        <wire:hasPlatformWiring>
            <wire:PlatformWiring rdf:ID="wiring">
                <wire:hasInputEndpoint>
                    <wire:InputEndpoint rdf:ID="input_1">
                        <dcterms:title>query_request</dcterms:title>
                        <dcterms:description>
                            Whenever any data is received, this operator will perform an NGSI query.
                            The signal may contain a string-based token which will be carried forwarded through the
                            'signal' endpoint as a property named 'query_request_token'.
                        </dcterms:description>
                        <wire:type>text</wire:type>
                        <rdfs:label>Query request</rdfs:label>
                        <wire:friendcode>any</wire:friendcode>
                    </wire:InputEndpoint>
                </wire:hasInputEndpoint>
            </wire:PlatformWiring>
        </wire:hasPlatformWiring>

        <wire:hasPlatformWiring>
            <wire:PlatformWiring rdf:ID="wiring">
                <wire:hasOutputEndpoint>
                    <wire:OutputEndpoint rdf:ID="output_1">
                        <dcterms:title>signal</dcterms:title>
                        <dcterms:description>Data that has been received.</dcterms:description>
                        <wire:type>text</wire:type>
                        <rdfs:label>Signal</rdfs:label>
                        <wire:friendcode>any</wire:friendcode>
                    </wire:OutputEndpoint>
                </wire:hasOutputEndpoint>
            </wire:PlatformWiring>
        </wire:hasPlatformWiring>
    </wire:Operator>

    <foaf:Person rdf:about="http://creatoruri/">
        <foaf:name>Manuel Warum</foaf:name>
    </foaf:Person>

    <gr:BusinessEntity rdf:about="http://vendoruri/">
        <foaf:name>AIT</foaf:name>
    </gr:BusinessEntity>

    <foaf:Image rdf:about="img/catalogue.png">
        <dcterms:title>ImageURI</dcterms:title>
    </foaf:Image>

    <usdl-core:Resource rdf:about="js/main.js">
        <wire:index>0</wire:index>
    </usdl-core:Resource>
</rdf:RDF>