<?xml version="1.0" encoding="UTF-8"?>

<Template xmlns="http://morfeo-project.org/2007/Template" xmlns:doc="crisma://documentation">
  <Catalog.ResourceDescription>
    <Vendor>AIT</Vendor>
    <Name>crisma-tabular</Name>
    <Version>0.2.0</Version>
    <Author>Manuel Warum</Author>
    <Mail>Manuel.Warum.fl@ait.ac.at</Mail>
    <Description>Simple widget to display table data</Description>
    <ImageURI>img/catalogue.png</ImageURI>
    <iPhoneImageURI>img/catalogue.png</iPhoneImageURI>
    <WikiURI>http://127.0.0.1/index.htm</WikiURI>
  </Catalog.ResourceDescription>

  <Platform.Preferences>
    <Preference name="caption" type="text"
                description="Table caption" label="Table caption"
                default=""/>
  </Platform.Preferences>

  <Platform.Wiring>
    <InputEndpoint name="add_row" type="text" label="Add a new row"
                   description="Adds a new row at the end of the table" friendcode="row">
      <doc:Documentation>
        This endpoint accepts a JSON-encoded one-dimensional array where each element in the array represents exactly
        one cell in the table. A new row will be created and appended to the table with these new cells.
      </doc:Documentation>
    </InputEndpoint>

    <OutputEndpoint name="selected_row" type="text" label="Selected row"
                    description="Sends a signal whenever a row is clicked" friendcode="row">
      <doc:Documentation>
        If a row was selected by the user with a mouse click, this event will transmit the row's data
        as a JSON object. The property keys of this object denote the column header, and the property value
        contains the value (exactly as it is displayed).
      </doc:Documentation>
    </OutputEndpoint>
  </Platform.Wiring>

  <Platform.Link>
    <XHTML href="index.html"/>
  </Platform.Link>

  <Platform.Rendering width="6" height="12"/>
</Template>