<?xml version="1.0" encoding="UTF-8"?>

<Template xmlns="http://morfeo-project.org/2007/Template">
  <Catalog.ResourceDescription>
    <Vendor>AIT</Vendor>
    <Name>ooi-editor</Name>
    <Version>0.1</Version>
    <Author>Manuel Warum</Author>
    <Mail>Manuel.Warum.fl@ait.ac.at</Mail>
    <Description>Editor for Objects of Interest</Description>
    <ImageURI>img/catalogue.png</ImageURI>
    <iPhoneImageURI>img/catalogue.png</iPhoneImageURI>
    <WikiURI>http://127.0.0.1/index.htm</WikiURI>
  </Catalog.ResourceDescription>

  <Platform.Wiring>
    <InputEndpoint name="ooi" type="text" label="Object" description="The Object of Interest to edit" friendcode="ooi-identifier" />
    <OutputEndpoint name="saved-ooi" type="text" label="Saved object" description="Transmits the OOI identifier whenever it is saved" friendcode="ooi-identifier" />
  </Platform.Wiring>
  
  <Platform.Link>
    <XHTML href="index.html"/>
  </Platform.Link>

  <Platform.Rendering width="6" height="12"/>
</Template>