#floatingActions {
    position: absolute;
    right: 2pt;
    top: 2pt;
    left: auto;
    bottom: auto;
}

table {
    overflow-y: scroll;
    font-size: 11pt;
}

tr.grouped td:first-child {
    padding-left: 2em;
    font-size: 90%;
}

tr.selected {
    background-color: #e2edff;
}

tr.grouped.selectedChild {
    background-color: #f2f7ff;
}

tr.selected>td,
tr.selected>th,
tr.selectedChild>td,
tr.selectedChild>th {
    color: #363d4f;
}

tr.grouped.selectedChild>td:first-child {
    border-left: 1em solid #99c0ff;
    padding-left: 1.5em;
}

@media (max-width: 520px) {
    table { font-size: 10pt }
}

@media (max-width: 420px) {
    table { font-size: 9pt }
    tr.grouped.selectedChild>td:first-child {
        border-left: .5em solid #99c0ff;
    }
}

@media (max-width: 320px) {
    table { font-size: 8.5pt }
}