table {
    overflow-y: scroll;
    font-size: 11pt;
}

tr.selected {
    background-color: #e2edff;
}
tr.selected>td,
tr.selected>th {
    color: #363d4f;
}

@media (max-width: 520px) {
    table { font-size: 10pt }
}

@media (max-width: 420px) {
    table { font-size: 9pt }
}

@media (max-width: 320px) {
    table { font-size: 8.5pt }
}