.newsitem {
    margin: 4px 2px;
    padding: 6px 4px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #efefef;
    border-bottom-color: #e0e0e0;
    border-left-color: #e0e0e0;
    text-align: justify;
}