<?xml version="1.0" encoding="UTF-8"?>

<Template xmlns="http://morfeo-project.org/2007/Template">
  <Catalog.ResourceDescription>
    <Vendor>AIT</Vendor>
    <Name>debug_pusher</Name>
    <DisplayName>Pusher (Debug)</DisplayName>
    <Version>0.6.0.3</Version>
    <Author>Manuel Warum</Author>
    <Mail>Manuel.Warum.fl@ait.ac.at</Mail>
    <Description>
      This widget sends arbitrary data to other wirecloud widgets or operators. This data can either be provided
      manually, or via the HTML5 FileReader API (if the browser supports it).
      It is designed as a simple UI-based method for development and diagnosis purposes.
    </Description>
    <ImageURI>img/catalogue.png</ImageURI>
    <iPhoneImageURI>img/catalogue.png</iPhoneImageURI>
    <WikiURI>http://127.0.0.1/index.htm</WikiURI>
  </Catalog.ResourceDescription>

  <Platform.Wiring>
    <OutputEndpoint name="data" type="text" label="Data" description="Data to push" friendcode="any"/>
  </Platform.Wiring>

  <Platform.Link>
    <XHTML href="index.html"/>
  </Platform.Link>

  <Platform.Rendering width="6" height="12"/>
</Template>