<?xml version="1.0" encoding="UTF-8"?>

<Template xmlns="http://morfeo-project.org/2007/Template">
  <Catalog.ResourceDescription>
    <Vendor>AIT</Vendor>
    <Name>crisma-openlayers</Name>
    <Version>0.2.0</Version>
    <Author>Manuel Warum</Author>
    <Mail>Manuel.Warum.fl@ait.ac.at</Mail>
    <Description>Basic OpenLayers widget using OpenStreetMap tiles. Data, imagery and map information provided by
      OpenStreetMap and contributors, CC-BY-SA
    </Description>
    <ImageURI>img/catalogue.png</ImageURI>
    <iPhoneImageURI>img/catalogue.png</iPhoneImageURI>
    <WikiURI>http://127.0.0.1/index.htm</WikiURI>
  </Catalog.ResourceDescription>

  <Platform.Preferences>
    <Preference name="recenter" type="boolean"
                description="Automatically re-center the map whenever it changed through events" label="Auto re-center"
                default="true"/>
    <Preference name="canDraw" type="boolean" description="Is the map editable?" label="Draw" default="false"/>
  </Platform.Preferences>

  <Platform.Wiring>
    <InputEndpoint name="view_point" type="text" label="Coordinates"
                   description="Focuses the map on specified coordinates" friendcode="geo-lon-lat"/>
    <InputEndpoint name="add_point" type="text" label="Add point" description="Adds a point to the map"
                   friendcode="geo-ooi"/>
    <InputEndpoint name="add_line" type="text" label="Add line" description="Adds a line to the map"
                   friendcode="geo-points"/>
    <InputEndpoint name="add_poly" type="text" label="Add polygon" description="Adds a polygon to the map"
                   friendcode="geo-points"/>
    <InputEndpoint name="clear" type="text" label="Clear"
                   description="Removes all features from the map (points and polygons)" friendcode="signal"/>
    <OutputEndpoint name="added_point" type="text" label="Added point"
                    description="Whenever a point is added via the map viewer, this event dispatches the coordinates"
                    friendcode="geo-lon-lat"/>
    <OutputEndpoint name="added_line" type="text" label="Added line"
                    description="Whenever a (poly-)line is added via the map viewer, this event dispatches the geometry"
                    friendcode="geo-points"/>
    <OutputEndpoint name="added_poly" type="text" label="Added polygon"
                    description="Whenever a polygon is added via the map viewer, this event dispatches the geometry"
                    friendcode="geo-points"/>
    <OutputEndpoint name="center_point" type="text" label="Coordinates"
                    description="Sends a signal whenever the shown center changes" friendcode="geo-lon-lat"/>
    <OutputEndpoint name="ooi_click" type="text" label="Clicked object"
                    description="Sends a signal whenever an object is clicked" friendcode="ooi-identifier"/>
    <OutputEndpoint name="pos_click" type="text" label="Clicked spot"
                    description="Sends a signal whenever an empty area of the map is clicked" friendcode="geo-lon-lat"/>
  </Platform.Wiring>

  <Platform.Link>
    <XHTML href="index.html"/>
  </Platform.Link>

  <Platform.Rendering width="20" height="20"/>
</Template>