<?xml version="1.0" encoding="UTF-8"?>

<Template xmlns="http://morfeo-project.org/2007/Template">
  <Catalog.ResourceDescription>
    <Vendor>AIT</Vendor>
    <Name>ooi-gis-map</Name>
    <DisplayName>OOI GIS Map</DisplayName>
    <Version>0.5.7</Version>
    <Author>Manuel Warum</Author>
    <Mail>Manuel.Warum.fl@ait.ac.at</Mail>
    <Description>
      Basic OpenLayers widget using OpenStreetMap tiles. Data, imagery and map information provided by
      OpenStreetMap and contributors, CC-BY-SA
    </Description>
    <ImageURI>img/catalogue.png</ImageURI>
    <iPhoneImageURI>img/catalogue.png</iPhoneImageURI>
    <WikiURI>http://127.0.0.1/index.htm</WikiURI>
  </Catalog.ResourceDescription>

  <Platform.Preferences>
    <Preference name="wfs_server" type="text" description="URI of the OOI WFS service" label="WFS" default="http://localhost/ows"/>
  </Platform.Preferences>

  <Platform.StateProperties/>

  <Platform.Wiring>
    <InputEndpoint name="worldstate_in" type="text" label="Worldstate" description="Worldstate" friendcode="worldstate"/>
    <InputEndpoint name="oois_in" type="text" label="OOIs" description="Objects of interest" friendcode="oois"/>
    <InputEndpoint name="oois_selected_in" type="text" label="Selected OOIs" description="Selected objects of interest" friendcode="oois"/>

    <OutputEndpoint name="oois_selected_out" type="text" label="Selected OOIs" description="Selected objects of interest" friendcode="oois"/>
    <OutputEndpoint name="center_point" type="text" label="Coordinates" description="Sends a signal whenever the shown center changes" friendcode="geo-lonlat"/>
    <OutputEndpoint name="ooi_click" type="text" label="Clicked object" description="Sends a signal whenever an object is clicked" friendcode="ooi-identifier"/>
    <OutputEndpoint name="pos_click" type="text" label="Clicked spot" description="Sends a signal whenever an empty area of the map is clicked" friendcode="geo-lonlat"/>
  </Platform.Wiring>

  <Platform.Context/>

  <Platform.Link>
    <XHTML href="index.html" cacheable="false"/>
  </Platform.Link>

  <Platform.Rendering width="12" height="26"/>
</Template>