<!DOCTYPE html>
<html ng-app="ooiCommand" lang="en">
<head>
    <title>Object of Interest commands</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" type="text/css" rel="stylesheet"/>
    <script src="//code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js" type="text/javascript"></script>
    <script src="js/extensions.js" type="text/javascript"></script>
    <script src="js/wicket.js" type="text/javascript"></script>
    <script src="js/commands.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/wirecloud.js" type="text/javascript"></script>
</head>
<body>

<div ng-controller="OoiCommandCtrl">

    <fieldset>
        <legend>
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="ico-cmd {{pendingCommand.css}}"></span>
                    <span>{{pendingCommand.displayName || 'Select command here'}}</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="cmd in availableCommands" ng-click="activateCommand(cmd)">
                        <div class="ico-cmd {{cmd.css}}">{{cmd.displayName}}</div>
                        <p class="ico-help">{{cmd.help}}</p>
                    </li>
                </ul>
            </div>
        </legend>
        <div class="container-fluid container-args">
            <form>
                <div ng-repeat="(i, arg) in pendingCommand.arguments" class="row-fluid">
                    <div class="col-sm-3">
                        <label for="pcArg{{i}}">{{arg.displayName || 'Target'}}:</label>
                    </div>

                    <div class="col-sm-9" ng-switch="arg.targetType">
                        <select ng-switch-when="ooi" id="pcArg{{i}}" ng-options="c.entityName for c in pendingCommand.candidates[i]" ng-model="pendingCommand.data[i]" ng-required="!arg.optional" class="form-control"></select>
                        <select ng-switch-when="option" id="pcArg{{i}}" ng-options="c for c in arg.options" ng-model="pendingCommand.data[i]" ng-required="!arg.optional" class="form-control"></select>
                        <div ng-switch-when="number">
                            <input type="number" min="{{arg.minimum}}" max="{{arg.maximum}}" ng-model="pendingCommand.data[i]" id="pcArg{{i}}" ng-required="!arg.optional" class="form-control">
                            <span class="help-block small">
                                min. {{arg.minimum}}, max. {{arg.maximum}}
                            </span>
                        </div>
                        <div ng-switch-when="point" class="form-inline">
                            <div>
                                <abbr title="Latitude">Lat.</abbr> <input type="number" min="-180" max="180" value="0" step="0.00001" class="form-control" ng-value="pendingCommand.data[i].lat" ng-required="!arg.optional">
                                <abbr title="Longitude">Lon.</abbr> <input type="number" min="-90" max="90" value="0" step="0.00001" class="form-control" ng-value="pendingCommand.data[i].lon" ng-required="!arg.optional">
                            </div>
                        </div>
                        <div ng-switch-when="geometry">
                            <input type="hidden" ng-model="pendingCommand.data[i]" id="pcArg{{i}}" ng-required="!arg.optional">
                            <button type="button" class="btn btn-default" ng-enabled="awaitingGeometryForArgument == -1" ng-click="requestMapDraw(i)"
                                    ng-class="{ 'btn-success': pendingCommand.data[i], 'btn-waiting': (awaitingGeometryForArgument != -1) }">
                                Draw on map
                                <small ng-if="pendingCommand.data[i]" class="glyphicon glyphicon-ok"></small>
                            </button>
                        </div>
                        <div ng-switch-default class="text-danger">
                            <code>{{arg.targetType}}</code> is an unsupported argument type. Please correct the error in <code>js/commands.js</code>.
                        </div>
                    </div>
                </div>

                <hr />

                <div style="text-align: right">
                    <button type="button" class="btn btn-danger" ng-click="cancelCommand()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="executePendingCommand()" ng-disabled="!canExecutePendingCommand() || form.$invalid">Add</button>
                </div>
            </form>
        </div>
    </fieldset>
</div>

</body>
</html>