<!DOCTYPE html>
<html ng-app="ooiCommand">
<head>
    <title>Object of Interest commands</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" type="text/css" rel="stylesheet"/>
    <script src="//code.jquery.com/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script>
    <script src="js/extensions.js" type="text/javascript"></script>
    <script src="js/commands.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/wirecloud.js" type="text/javascript"></script>
</head>
<body>

<div ng-controller="OoiCommandCtrl">

    <div class="btn-group">
        <button ng-repeat="cmd in availableCommands | filter:showCommand" ng-disabled="pendingCommand"
                ng-click="activateCommand(cmd)" ng-mouseover="showHelpFor(cmd)"
                type="button" class="btn btn-default btn-sm btn-cmd {{cmd.css}}"
                title="{{cmd.help}}">{{cmd.displayName}}</button>
    </div>

    <div ng-show="mouseOverCommand">
        <strong>{{mouseOverCommand.displayName}}:</strong>
        {{mouseOverCommand.help}}
    </div>

    <div class="container-fluid" ng-show="pendingCommand">
        <hr />

        <div ng-repeat="(i, arg) in pendingCommand.arguments" class="row-fluid">
            <div class="col-sm-3">
                <label for="pcArg{{i}}">{{arg.displayName || 'Target'}}</label>
            </div>

            <div class="col-sm-9">
                <select id="pcArg{{i}}" ng-options="c.entityName for c in pendingCommand.candidates[i]" ng-model="pendingCommand.data[i]" required="required" class="form-control"></select>
            </div>
        </div>

        <div class="row-fluid">
            <div class="btn-group">
                <button type="button" class="btn btn-danger" ng-click="cancelCommand()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="executePendingCommand()" ng-disabled="!canExecutePendingCommand()">Execute</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>