<?xml version="1.0" encoding="UTF-8"?>

<Template xmlns="http://wirecloud.conwet.fi.upm.es/ns/template#" xmlns:doc="crisma://documentation">
  <Catalog.ResourceDescription>
    <Vendor>AIT</Vendor>
    <Name>debug_listener</Name>
    <DisplayName>Listener (Debug)</DisplayName>
    <Version>0.6.1.0</Version>
    <Author>Manuel Warum</Author>
    <Mail>Manuel.Warum.fl@ait.ac.at</Mail>
    <Description>
      This is a simple widget to capture any data it receives. It will display any data received through its
      endpoint in the UI (as-is).
      It is designed as a simple UI-based method for development and diagnosis purposes.
    </Description>
    <ImageURI>img/catalogue.png</ImageURI>
    <iPhoneImageURI>img/catalogue.png</iPhoneImageURI>
    <WikiURI>http://127.0.0.1/index.htm</WikiURI>
  </Catalog.ResourceDescription>

  <Platform.Wiring>
    <InputEndpoint name="data" type="text" label="Data" description="Data to display" friendcode="any">
      <doc:Documentation>
        This endpoint will listen for any sort of activation from connected widgets. Whenever an activation occurs,
        the event and accompanying data will be forwarded to the widget's interface.
      </doc:Documentation>
    </InputEndpoint>
  </Platform.Wiring>

  <Platform.Link>
    <XHTML href="index.html"/>
  </Platform.Link>

  <Platform.Rendering width="6" height="12"/>
</Template>