<?xml version="1.0" encoding="UTF-8"?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:usdl-core="http://www.linked-usdl.org/ns/usdl-core#"
         xmlns:foaf="http://xmlns.com/foaf/0.1/"
         xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
         xmlns:dcterms="http://purl.org/dc/terms/"
         xmlns:skos="http://www.w3.org/2004/02/skos/core#"
         xmlns:wire="http://wirecloud.conwet.fi.upm.es/ns/widget#"
         xmlns:vCard = "http://www.w3.org/2006/vcard/ns#"
         xmlns:gr="http://purl.org/goodrelations/v1#">

  <wire:Operator rdf:about="http://wirecloud.com/test">
    <dcterms:title>worldstate_wfs</dcterms:title>
    <wire:displayName>Worldstate WFS</wire:displayName>
    <dcterms:description>This operator loads the WFS layer associated to the specified worldstate.</dcterms:description>
    <dcterms:creator rdf:resource="http://creatoruri/"/>
    <usdl-core:versionInfo>0.1.0</usdl-core:versionInfo>
    <wire:hasImageUri rdf:resource="img/catalogue.png"/>
    <usdl-core:utilizedResource rdf:resource="js/main.js"/>
    <foaf:page rdf:resource="http://conwet.fi.upm.es/docs/display/wirecloud"/>
    <usdl-core:hasProvider rdf:resource="http://vendoruri/"/>

    <vCard:addr>
      <vCard:Work>
        <vCard:email>manuel.warum.fl@ait.ac.at</vCard:email>
      </vCard:Work>
    </vCard:addr>

    <wire:hasPlatformWiring>
      <wire:PlatformWiring rdf:ID="wiring">
        <wire:hasInputEndpoint>
          <wire:InputEndpoint rdf:ID="input_1">
            <dcterms:title>worldstate</dcterms:title>
            <dcterms:description>Worldstate</dcterms:description>
            <wire:actionLabel>Worldstate</wire:actionLabel>
            <wire:type>text</wire:type>
            <rdfs:label>Worldstate</rdfs:label>
            <wire:friendcode>worldstate</wire:friendcode>
          </wire:InputEndpoint>
        </wire:hasInputEndpoint>
        <wire:hasOutputEndpoint>
          <wire:OutputEndpoint rdf:ID="output_1">
            <dcterms:title>wfs-uri</dcterms:title>
            <dcterms:description></dcterms:description>
            <wire:type>text</wire:type>
            <rdfs:label>WFS URI</rdfs:label>
            <wire:friendcode>wfs-uri</wire:friendcode>
          </wire:OutputEndpoint>
        </wire:hasOutputEndpoint>
      </wire:PlatformWiring>
    </wire:hasPlatformWiring>

    <wire:hasPlatformPreference>
      <wire:PlatformPreference rdf:ID="pref_1">
        <dcterms:title>wfs</dcterms:title>
        <dcterms:description>OOI-WSR WFS URI</dcterms:description>
        <rdfs:label>WFS URI</rdfs:label>
        <wire:type>text</wire:type>
        <wire:default>http://localhost/ows</wire:default>
        <wire:index>0</wire:index>
      </wire:PlatformPreference>
    </wire:hasPlatformPreference>
  </wire:Operator>

  <foaf:Person rdf:about="http://creatoruri/">
    <foaf:name>Manuel Warum</foaf:name>
  </foaf:Person>

  <gr:BusinessEntity rdf:about="http://vendoruri/">
    <foaf:name>AIT</foaf:name>
  </gr:BusinessEntity>

  <foaf:Image rdf:about="img/catalogue.png">
    <dcterms:title>ImageURI</dcterms:title>
  </foaf:Image>

  <usdl-core:Resource rdf:about="js/main.js">
    <wire:index>0</wire:index>
  </usdl-core:Resource>
</rdf:RDF>