html, body, #chart {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.bar {
    fill: steelblue;
}
.x.axis path {
    display: none;
}

.graph {
    border: 1px solid #dfdfdf;
    padding: 3px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.graph:last-child {
    margin-bottom: 0;
}

#controls {
    position: absolute;
    right: 2pt;
    top: 2pt;
    left: auto;
    bottom: auto;
}

* > .hover-only {
    display: none;
}

*:hover > .hover-only {
    display: inline-block;
}