#simulationDetails {
    margin: 2em 2em 0;
    padding: 4pt;
    border-radius: 3pt;
    box-shadow: 2pt 2pt 4pt 0 rgba(0, 0, 0, .125);
    border: 1px solid #cccccc;
}

#btn-load {
    background-image: url('../img/load.png');
    background-position: 6pt center;
    background-repeat: no-repeat;
    padding-left: 19pt;
}

#btn-refresh {
    background-image: url('../img/refresh.png');
    background-position: 6pt center;
    background-repeat: no-repeat;
    padding-left: 19pt;
}

.loadedIcon {
    display: inline-block;
    width: 17px; height: 17px;
    background-image: url('../img/selectedIcon.png');
    background-position: left bottom;
    background-repeat: no-repeat;
}