<?xml version="1.0" encoding="UTF-8"?>

<Template xmlns="http://morfeo-project.org/2007/Template">
  <Catalog.ResourceDescription>
    <Vendor>AIT</Vendor>
    <Name>rddt-tech-news</Name>
    <Version>0.1.2</Version>
    <Author>Manuel Warum</Author>
    <Mail>Manuel.Warum.fl@ait.ac.at</Mail>
    <Description>Simple widget to get acquainted with the capabilities of Wirecloud</Description>
    <ImageURI>img/catalogue.png</ImageURI>
    <iPhoneImageURI>img/catalogue.png</iPhoneImageURI>
    <WikiURI>http://127.0.0.1/index.htm</WikiURI>
  </Catalog.ResourceDescription>

  <Platform.Wiring>
    <OutputEndpoint name="article_link" type="text" label="Article Link" description="This event is launched when the user clicks one of the article headlines." friendcode="rddt-url" />
    <OutputEndpoint name="rddt_link" type="text" label="Reddit Link" description="This event is launched when the user clicks one of the article headlines." friendcode="rddt-item" />
  </Platform.Wiring>
  
  <Platform.Link>
    <XHTML href="index.html"/>
  </Platform.Link>

  <Platform.Rendering width="6" height="12"/>
</Template>