body {
    margin: 2px 6px 6px 2px;
}
#map {
    width: 100%;
    height: 100%;
    padding: 1px;
    border: 1px solid #999999;
    -webkit-box-shadow:  2px 2px 4px 1px rgba(0, 0, 0, .4);
    box-shadow:  2px 2px 4px 1px rgba(0, 0, 0, .4);
}

#map:hover {
    border-color: #333333;
    -webkit-box-shadow:  2px 2px 4px 1px rgba(0, 0, 0, .55);
    box-shadow:  2px 2px 4px 1px rgba(0, 0, 0, .55);
}
#map div.olControlAttribution {
    opacity: .35;
    padding: 2px 3px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#map div.olControlAttribution:hover {
    opacity: 1;
}

#map a.olButton {
    background-color: white;
    color: black;
}