<?xml version="1.0" encoding="UTF-8"?>

<Template xmlns="http://wirecloud.conwet.fi.upm.es/ns/template#">
    <Catalog.ResourceDescription>
        <Vendor>AIT</Vendor>
        <Name>icmm_worldstate_picker2</Name>
        <DisplayName>ICMM World State Picker</DisplayName>
        <Version>0.6.2.5</Version>
        <Author>Maria Egly</Author>
        <Mail>maria.egly@ait.ac.at</Mail>
        <Description>
            Lets the user pick and load a world state from the ICMM.
        </Description>
        <ImageURI>img/catalogue.png</ImageURI>
        <iPhoneImageURI>img/catalogue.png</iPhoneImageURI>
        <WikiURI>http://127.0.0.1/index.htm</WikiURI>
    </Catalog.ResourceDescription>

    <Platform.Preferences>
        <Preference name="icmm" type="text" description="URI to the ICMM API" label="ICMM API URI"/>
        <Preference name="category" type="text" description="Category of ICMM worldstates to be displayed" label="ICMM Category"/>
        <Preference name="level" type="text" description="Depth of worldstate tree to be displayed" label="Level"/>
    </Platform.Preferences>

    <Platform.Wiring>
        <InputEndpoint name="update" type="boolean" label="UpdateWSTree" description="Event received when worldstate tree shall be updated" friendcode="update"/>
        <OutputEndpoint name="worldstate" type="text" label="World State" description="The world state selected by the user" friendcode="worldstate"/>
    </Platform.Wiring>

    <Platform.Link>
        <XHTML href="index.html"/>
    </Platform.Link>

    <Platform.Rendering width="6" height="12"/>
</Template>