<!DOCTYPE html>
<html lang="en" ng-app="icmmWorldStatePickerApp">
<head>
    <title>ICMM World State Picker</title>
 	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link href="css/abn_tree.css" rel="stylesheet">
    <script src="js/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="angular-1.2.13/angular.min.js" type="text/javascript"></script>
    <script src="angular-1.2.13/angular-resource.min.js" type="text/javascript"></script>
    <script src="angular-1.2.13/angular-animate.min.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/abn_tree_directive.js" type="text/javascript"></script>
</head>
<body ng-controller="ICMMWorldStatePickerApp">

<div class="container-fluid">
    <form class="form-horizontal">
<!--
        <div class="form-group">
            <div class="col-sm-6">
                <div class="input-group">
					<input id="filter-term" ng-model="filter_term" type="text" class="form-control">
					<span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="filterWorldStates()">
                            <i class="glyphicon glyphicon-filter"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
 -->
       <div class="form-group">
            <div class="col-sm-6">
				<div class="input-group">
					<abn-tree id="worldstateTree" tree-data="filtered_treedata" icon-leaf="glyphicon glyphicon-globe" icon-expand="glyphicon glyphicon-collapse-down" icon-collapse="glyphicon glyphicon-collapse-up" on-select="treehandler(branch)" expand-level="1"></abn-tree>
				</div>
            </div>
        </div>
    </form>
</div>
</body>
</html>