<?xml version="1.0" encoding="UTF-8"?>

<Template xmlns="http://wirecloud.conwet.fi.upm.es/ns/template#">
    <Catalog.ResourceDescription>
        <Vendor>AIT</Vendor>
        <Name>ooi_info</Name>
        <DisplayName>OOI Info</DisplayName>
        <Version>0.8.2.0</Version>
        <Author>Manuel Warum</Author>
        <Mail>Manuel.Warum.fl@ait.ac.at</Mail>
        <Description>Command Objects of Interests</Description>
        <Description>
            This widget allows the user to inspect OOI properties.
        </Description>
        <ImageURI>img/catalogue.png</ImageURI>
        <iPhoneImageURI>img/catalogue.png</iPhoneImageURI>
        <WikiURI>http://127.0.0.1/index.htm</WikiURI>
    </Catalog.ResourceDescription>

    <Platform.Preferences>
        <Preference name="show_ids" type="boolean" description="Show the IDs of properties instead of resolved names" label="Don't resolve IDs" default="false"/>
        <Preference name="only_show" type="text" description="Only show properties having these IDs (comma-separated)" label="Only show these properties" default=""/>
    </Platform.Preferences>

    <Platform.Wiring>
        <InputEndpoint name="oois_show" type="text" label="Show these OOIs" description="" friendcode="oois" />
        <InputEndpoint name="oois_all" type="text" label="Worldstate OOIs" description="" friendcode="oois" />
        <InputEndpoint name="ooiTypes" type="text" label="OOI types" description="" friendcode="ooi-types" />
    </Platform.Wiring>

    <Platform.Link>
        <XHTML href="index.html"/>
    </Platform.Link>

    <Platform.Rendering width="6" height="12"/>
</Template>