<?xml version="1.0" encoding="UTF-8"?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:usdl-core="http://www.linked-usdl.org/ns/usdl-core#"
         xmlns:foaf="http://xmlns.com/foaf/0.1/"
         xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
         xmlns:dcterms="http://purl.org/dc/terms/"
         xmlns:wire="http://wirecloud.conwet.fi.upm.es/ns/widget#"
         xmlns:vCard="http://www.w3.org/2006/vcard/ns#"
         xmlns:gr="http://purl.org/goodrelations/v1#">

  <wire:Operator rdf:about="http://wirecloud.com/test">
    <dcterms:title>worldstate_loader</dcterms:title>
    <wire:displayName>Worldstate loader</wire:displayName>
    <dcterms:description>This operator loads world states from the OOI worldstate repository (OOI-WSR).</dcterms:description>
    <dcterms:creator rdf:resource="http://creatoruri/"/>
    <usdl-core:versionInfo>0.1.4.2</usdl-core:versionInfo>
    <wire:hasImageUri rdf:resource="img/catalogue.png"/>
    <usdl-core:utilizedResource rdf:resource="js/main.js"/>
    <foaf:page rdf:resource="http://conwet.fi.upm.es/docs/display/wirecloud"/>
    <usdl-core:hasProvider rdf:resource="http://vendoruri/"/>

    <vCard:addr>
      <vCard:Work>
        <vCard:email>manuel.warum.fl@ait.ac.at</vCard:email>
      </vCard:Work>
    </vCard:addr>

    <wire:hasPlatformWiring>
      <wire:PlatformWiring rdf:ID="wiring">
        <wire:hasInputEndpoint>
          <wire:InputEndpoint rdf:ID="input_1">
            <dcterms:title>simulation</dcterms:title>
            <dcterms:description>Simulation</dcterms:description>
            <wire:type>text</wire:type>
            <rdfs:label>Simulation</rdfs:label>
            <wire:friendcode>simulation</wire:friendcode>
          </wire:InputEndpoint>
        </wire:hasInputEndpoint>
        <wire:hasOutputEndpoint>
          <wire:OutputEndpoint rdf:ID="output_1">
            <dcterms:title>worldstate</dcterms:title>
            <dcterms:description>Worldstate</dcterms:description>
            <wire:type>text</wire:type>
            <rdfs:label>Latest Worldstate</rdfs:label>
            <wire:friendcode>worldstate</wire:friendcode>
          </wire:OutputEndpoint>
        </wire:hasOutputEndpoint>
        <wire:hasOutputEndpoint>
          <wire:OutputEndpoint rdf:ID="output_2">
            <dcterms:title>oois</dcterms:title>
            <dcterms:description>Objects of Interest for the given Worldstate</dcterms:description>
            <wire:type>text</wire:type>
            <rdfs:label>OOIs</rdfs:label>
            <wire:friendcode>oois</wire:friendcode>
          </wire:OutputEndpoint>
        </wire:hasOutputEndpoint>
        <wire:hasOutputEndpoint>
          <wire:OutputEndpoint rdf:ID="output_3">
            <dcterms:title>ooi-types</dcterms:title>
            <dcterms:description>Objects of Interest type definitions</dcterms:description>
            <wire:type>text</wire:type>
            <rdfs:label>OOI Types</rdfs:label>
            <wire:friendcode>ooi-types</wire:friendcode>
          </wire:OutputEndpoint>
        </wire:hasOutputEndpoint>
      </wire:PlatformWiring>
    </wire:hasPlatformWiring>

    <wire:hasPlatformPreference>
      <wire:PlatformPreference rdf:ID="pref_1">
        <dcterms:title>api</dcterms:title>
        <dcterms:description>OOI-WSR API URI</dcterms:description>
        <rdfs:label>API</rdfs:label>
        <wire:type>text</wire:type>
        <wire:default>http://localhost/api</wire:default>
      </wire:PlatformPreference>
    </wire:hasPlatformPreference>

    <wire:hasPlatformPreference>
      <wire:PlatformPreference rdf:ID="pref_2">
        <dcterms:title>force-ws</dcterms:title>
        <dcterms:description>Enforces the specified worldstate. The 'simulation id' input endpoint will be ignored. Use 0, if you want to disable this behaviour.</dcterms:description>
        <rdfs:label>Worldstate</rdfs:label>
        <wire:type>text</wire:type>
        <wire:default></wire:default>
      </wire:PlatformPreference>
    </wire:hasPlatformPreference>
  </wire:Operator>

  <foaf:Person rdf:about="http://creatoruri/">
    <foaf:name>Manuel Warum</foaf:name>
  </foaf:Person>

  <gr:BusinessEntity rdf:about="http://vendoruri/">
    <foaf:name>AIT</foaf:name>
  </gr:BusinessEntity>

  <foaf:Image rdf:about="img/catalogue.png">
    <dcterms:title>ImageURI</dcterms:title>
  </foaf:Image>

  <usdl-core:Resource rdf:about="js/main.js">
    <wire:index>0</wire:index>
  </usdl-core:Resource>
</rdf:RDF>